## BASE DE DATOS 1

### IMPORTACIONES Y CONFIGURACION

In [42]:
# Instalar las librerías necesarias
!pip install boto3 pandas
import numpy as np
import boto3
import pandas as pd
from io import StringIO

Requirement already satisfied: boto3 in ./venv/lib/python3.12/site-packages (1.40.49)
Requirement already satisfied: pandas in ./venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: botocore<1.41.0,>=1.40.49 in ./venv/lib/python3.12/site-packages (from boto3) (1.40.49)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in ./venv/lib/python3.12/site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.15.0,>=0.14.0 in ./venv/lib/python3.12/site-packages (from boto3) (0.14.0)
Requirement already satisfied: numpy>=1.26.0 in ./venv/lib/python3.12/site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in ./venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in ./venv/lib/python3.12/site-packages (from botocore<1.41.0,>=1.40.49->boto3) (2.5.0)
Requirement already satisfied: six>=1.5 in ./venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [47]:
# Configuración del cliente S3
bucket_name = "xideralaws-curso-yalbani"
s3 = boto3.client("s3")

In [48]:
def read_csv_from_s3(bucket, key):
    response = s3.get_object(Bucket=bucket, Key=key)
    # Leer el contenido del archivo como texto
    csv_content = response['Body'].read().decode('ISO-8859-1')  # Cambiar la codificación si es necesario
    return pd.read_csv(StringIO(csv_content))

In [49]:
# Leer las bases de datos
fifa_history = read_file_from_s3(bucket_name, "datos_crudos/FIFA_history.csv")
attendance_sheet = read_file_from_s3(bucket_name, "datos_crudos/Attendance Sheet.csv")
print("\nLectura exitosa!")

Leyendo archivo CSV: datos_crudos/FIFA_history.csv
Leyendo archivo CSV: datos_crudos/Attendance Sheet.csv

Lectura exitosa!

### LIMPIEZA

In [50]:
# Renombrar columnas en FIFA_history
fifa_history.rename(columns={'Hosts': 'COUNTRY', 'Venue': 'STADIUM'}, inplace=True)

In [51]:
# Filtrar las columnas que se van a usar
fifa_history = fifa_history[['Year', 'COUNTRY', 'Total attendance ?', 'Matches', 
                             'Average attendance', 'Highest attendances ?Number', 
                             'STADIUM', 'Top scorers', 'Goals scored', 
                             'Budget(Billion US$)', 'Total Fund(dollars)', 
                             'Winnin team_payment(dollars)']]

In [52]:
fifa_history.head()

,Year,COUNTRY,Total attendance ?,Matches,Average attendance,Highest attendances ?Number,STADIUM,Top scorers,Goals scored,Budget(Billion US$),Total Fund(dollars),Winnin team_payment(dollars)
0,1930,ÿUruguay,"590,549",18,"32,808","93,000","Estadio Centenario, Montevideo",ÿArgentina,18,NaN,NaN,NaN
1,1934,ÿItaly,"363,000",17,"21,353","55,000","Stadio Nazionale PNF, Rome",ÿItaly,12,NaN,NaN,NaN
2,1938,ÿFrance,"375,700",18,"20,872","58,455","Olympique de Colombes, Paris",ÿHungary,15,NaN,NaN,NaN
3,1950,ÿBrazil,"1,045,246",22,"47,511","173,850[90]","MaracanÆ Stadium, Rio de Janeiro",ÿBrazil,22,NaN,NaN,NaN
4,1954,ÿSwitzerland,"768,607",26,"29,562","63,000","Wankdorf Stadium, Bern",ÿHungary,27,NaN,NaN,NaN

In [53]:
fifa_history.rename(columns={'Highest attendances ?Number': 'HIGHEST ATTENDANCE'}, inplace=True)

In [54]:
fifa_history.rename(columns={'Total_attendance_?': 'TOTAL_ATTENDANCE'}, inplace=True)

In [55]:
# Reemplazar espacios con guiones bajos en todos los nombres de columnas
fifa_history.columns = fifa_history.columns.str.replace(' ', '_')

In [56]:
fifa_history['COUNTRY'] = fifa_history['COUNTRY'].str.lstrip('ÿ')
fifa_history['Top_scorers'] = fifa_history['Top_scorers'].str.lstrip('ÿ')

In [57]:
fifa_history.head()

,Year,COUNTRY,Total_attendance_?,Matches,Average_attendance,HIGHEST_ATTENDANCE,STADIUM,Top_scorers,Goals_scored,Budget(Billion_US$),Total_Fund(dollars),Winnin_team_payment(dollars)
0,1930,Uruguay,"590,549",18,"32,808","93,000","Estadio Centenario, Montevideo",Argentina,18,NaN,NaN,NaN
1,1934,Italy,"363,000",17,"21,353","55,000","Stadio Nazionale PNF, Rome",Italy,12,NaN,NaN,NaN
2,1938,France,"375,700",18,"20,872","58,455","Olympique de Colombes, Paris",Hungary,15,NaN,NaN,NaN
3,1950,Brazil,"1,045,246",22,"47,511","173,850[90]","MaracanÆ Stadium, Rio de Janeiro",Brazil,22,NaN,NaN,NaN
4,1954,Switzerland,"768,607",26,"29,562","63,000","Wankdorf Stadium, Bern",Hungary,27,NaN,NaN,NaN

In [58]:
fifa_history.tail()

,Year,COUNTRY,Total_attendance_?,Matches,Average_attendance,HIGHEST_ATTENDANCE,STADIUM,Top_scorers,Goals_scored,Budget(Billion_US$),Total_Fund(dollars),Winnin_team_payment(dollars)
17,2006,Germany,"3,359,439",64,"52,491","72,000","Olympiastadion,ÿBerlin",Germany,14,4.9,$266m,"$300,000"
18,2010,South Africa,"3,178,856",64,"49,670","84,490","Soccer City, Johannesburg",Germany,16,7.2,$420m,"$500,000"
19,2014,Brazil,"3,429,873",64,"53,592","74,738","MaracanÆ Stadium, Rio de Janeiro",Germany,18,19.7,$576m,$1m
20,2018,Russia,"3,031,768",64,"47,371","78,011","Luzhniki Stadium, Moscow",Belgium,16,16.0,$791m,$1.5m
21,2022,Qatar,"3,404,252",64,"53,191","88,966","Lusail Stadium, Qatar",France,16,229.0,$1 Billion,$2.5 million

In [59]:
import numpy as np
fifa_history.replace(np.nan, None, inplace=True)

In [60]:
fifa_history.head(20)

,Year,COUNTRY,Total_attendance_?,Matches,Average_attendance,HIGHEST_ATTENDANCE,STADIUM,Top_scorers,Goals_scored,Budget(Billion_US$),Total_Fund(dollars),Winnin_team_payment(dollars)
0,1930,Uruguay,"590,549",18,"32,808","93,000","Estadio Centenario, Montevideo",Argentina,18,None,None,None
1,1934,Italy,"363,000",17,"21,353","55,000","Stadio Nazionale PNF, Rome",Italy,12,None,None,None
2,1938,France,"375,700",18,"20,872","58,455","Olympique de Colombes, Paris",Hungary,15,None,None,None
3,1950,Brazil,"1,045,246",22,"47,511","173,850[90]","MaracanÆ Stadium, Rio de Janeiro",Brazil,22,None,None,None
4,1954,Switzerland,"768,607",26,"29,562","63,000","Wankdorf Stadium, Bern",Hungary,27,None,None,None
5,1958,Sweden,"819,810",35,"23,423","50,928","Ullevi Stadium, Gothenburg",France,23,None,None,None
6,1962,Chile,"893,172",32,"27,912","68,679","Estadio Nacional, Santiago",Brazil,14,None,None,None
7,1966,England,"1,563,135",32,"48,848","98,270","Wembley Stadium, London",Portugal,17,None,None,None
8,1970,Mexico,"1,603,975",32,"50,124","108,192","Estadio Azteca, Mexico City",Brazil,19,None,None,None
9,1974,West Germany,"1,865,753",38,"49,099","83,168","Olympiastadion, Munich",Poland,16,None,None,None
10,1978,Argentina,"1,545,791",38,"40,679","71,712","Estadio Monumental, Buenos Aires",Argentina,15,None,None,None
11,1982,Spain,"2,109,723",52,"40,572","95,500","Camp Nou, Barcelona",France,16,None,$20m,None
12,1986,Mexico,"2,394,031",52,"46,039","114,600","Estadio Azteca, Mexico City",Argentina,14,None,$26m,None
13,1990,Italy,"2,516,215",52,"48,389","74,765","San Siro, Milan",West Germany,15,4.0,$54m,None
14,1994,United States,"3,587,538",52,"68,991","94,194","Rose Bowl, Pasadena, California",Sweden,15,0.5,$71m,None
15,1998,France,"2,785,100",64,"43,517","80,000","Stade de France, Saint-Denis",France,15,2.33,$103m,None
16,2002,Japan,"2,705,197",64,"42,269","69,029","International Stadium, Yokohama, Japan",Brazil,18,7.0,$156.5m,"$100,000"
17,2006,Germany,"3,359,439",64,"52,491","72,000","Olympiastadion,ÿBerlin",Germany,14,4.9,$266m,"$300,000"
18,2010,South Africa,"3,178,856",64,"49,670","84,490","Soccer City, Johannesburg",Germany,16,7.2,$420m,"$500,000"
19,2014,Brazil,"3,429,873",64,"53,592","74,738","MaracanÆ Stadium, Rio de Janeiro",Germany,18,19.7,$576m,$1m

In [61]:
columnas_a_renombrar = {
    'Attendance': 'HIGHEST_ATTENDANCE',
    'Venue': 'STADIUM',
    'Home': 'Top_scorers'
}

In [62]:
attendance_sheet.rename(columns=columnas_a_renombrar, inplace=True)

In [63]:
columnas_fifa_history = fifa_history.columns.tolist()

In [64]:
B1 = pd.DataFrame(columns=columnas_fifa_history)

In [65]:
for col_original, col_nueva in columnas_a_renombrar.items():
    if col_nueva in attendance_sheet.columns:
        B1[col_nueva] = attendance_sheet[col_nueva]

In [66]:
B1N = fifa_history

In [67]:
B1_unido = pd.concat([B1N, B1], ignore_index=True)

In [68]:
B1_unido['COUNTRY'].fillna('Qatar', inplace=True) 
B1_unido['Year'].fillna('2022', inplace=True)

/tmp/ipykernel_109590/2508332044.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  B1_unido['COUNTRY'].fillna('Qatar', inplace=True)
/tmp/ipykernel_109590/2508332044.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  B1_unido['Year'].fillna('2022', inplace=True)

In [69]:
B1_unido.replace(np.nan, None, inplace=True)

In [70]:
print(B1_unido.head(30))

    Year        COUNTRY Total_attendance_? Matches Average_attendance  \
0   1930        Uruguay            590,549      18             32,808
1   1934          Italy            363,000      17             21,353
2   1938         France            375,700      18             20,872
3   1950         Brazil          1,045,246      22             47,511
4   1954    Switzerland            768,607      26             29,562
5   1958         Sweden            819,810      35             23,423
6   1962          Chile            893,172      32             27,912
7   1966        England          1,563,135      32             48,848
8   1970         Mexico          1,603,975      32             50,124
9   1974   West Germany          1,865,753      38             49,099
10  1978      Argentina          1,545,791      38             40,679
11  1982          Spain          2,109,723      52             40,572
12  1986         Mexico          2,394,031      52             46,039
13  1990          Italy          2,516,215      52             48,389
14  1994  United States          3,587,538      52             68,991
15  1998         France          2,785,100      64             43,517
16  2002          Japan          2,705,197      64             42,269
17  2006        Germany          3,359,439      64             52,491
18  2010   South Africa          3,178,856      64             49,670
19  2014         Brazil          3,429,873      64             53,592
20  2018         Russia          3,031,768      64             47,371
21  2022          Qatar          3,404,252      64             53,191
22  2022          Qatar               None    None               None
23  2022          Qatar               None    None               None
24  2022          Qatar               None    None               None
25  2022          Qatar               None    None               None
26  2022          Qatar               None    None               None
27  2022          Qatar               None    None               None
28  2022          Qatar               None    None               None
29  2022          Qatar               None    None               None

   HIGHEST_ATTENDANCE                                 STADIUM   Top_scorers  \
0              93,000          Estadio Centenario, Montevideo     Argentina
1              55,000              Stadio Nazionale PNF, Rome         Italy
2              58,455            Olympique de Colombes, Paris       Hungary
3         173,850[90]        MaracanÆ Stadium, Rio de Janeiro        Brazil
4              63,000                  Wankdorf Stadium, Bern       Hungary
5              50,928              Ullevi Stadium, Gothenburg        France
6              68,679              Estadio Nacional, Santiago        Brazil
7              98,270                 Wembley Stadium, London      Portugal
8             108,192             Estadio Azteca, Mexico City        Brazil
9              83,168                  Olympiastadion, Munich        Poland
10             71,712        Estadio Monumental, Buenos Aires     Argentina
11             95,500                     Camp Nou, Barcelona        France
12            114,600             Estadio Azteca, Mexico City     Argentina
13             74,765                         San Siro, Milan  West Germany
14             94,194         Rose Bowl, Pasadena, California        Sweden
15             80,000            Stade de France, Saint-Denis        France
16             69,029  International Stadium, Yokohama, Japan        Brazil
17             72,000                  Olympiastadion,ÿBerlin       Germany
18             84,490               Soccer City, Johannesburg       Germany
19             74,738        MaracanÆ Stadium, Rio de Janeiro       Germany
20             78,011                Luzhniki Stadium, Moscow       Belgium
21             88,966                   Lusail Stadium, Qatar        France
22             67,372                         Al Bayt Stadium        Qatar
23             45,334           Khalifa International Stadium       England
24             41,721                      Al Thumama Stadium       Senegal
25             43,418                   Ahmed bin Ali Stadium           USA
26             88,012                   Lusail Iconic Stadium     Argentina
27             42,925                  Education City Stadium       Denmark
28             39,369                             Stadium 974        Mexico
29             40,875                       Al Janoub Stadium        France

   Goals_scored Budget(Billion_US$) Total_Fund(dollars)  \
0            18                None                None
1            12                None                None
2            15                None                None
3            22                None                None
4            27                None                None
5            23                None                None
6            14                None                None
7            17                None                None
8            19                None                None
9            16                None                None
10           15                None                None
11           16                None                $20m
12           14                None                $26m
13           15                 4.0                $54m
14           15                 0.5                $71m
15           15                2.33               $103m
16           18                 7.0             $156.5m
17           14                 4.9               $266m
18           16                 7.2               $420m
19           18                19.7               $576m
20           16                16.0               $791m
21           16               229.0          $1 Billion
22         None                None                None
23         None                None                None
24         None                None                None
25         None                None                None
26         None                None                None
27         None                None                None
28         None                None                None
29         None                None                None

   Winnin_team_payment(dollars)
0                          None
1                          None
2                          None
3                          None
4                          None
5                          None
6                          None
7                          None
8                          None
9                          None
10                         None
11                         None
12                         None
13                         None
14                         None
15                         None
16                     $100,000
17                     $300,000
18                     $500,000
19                          $1m
20                        $1.5m
21                 $2.5 million
22                         None
23                         None
24                         None
25                         None
26                         None
27                         None
28                         None
29                         None

In [71]:
attendance_sheet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                64 non-null     object
 1   Time                64 non-null     object
 2   Top_scorers         64 non-null     object
 3   Away                64 non-null     object
 4   HIGHEST_ATTENDANCE  64 non-null     object
 5   STADIUM             64 non-null     object
dtypes: object(6)
memory usage: 3.1+ KB

In [72]:
fifa_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Year                          22 non-null     int64
 1   COUNTRY                       22 non-null     object
 2   Total_attendance_?            22 non-null     object
 3   Matches                       22 non-null     int64
 4   Average_attendance            22 non-null     object
 5   HIGHEST_ATTENDANCE            22 non-null     object
 6   STADIUM                       22 non-null     object
 7   Top_scorers                   22 non-null     object
 8   Goals_scored                  22 non-null     int64
 9   Budget(Billion_US$)           9 non-null      object
 10  Total_Fund(dollars)           11 non-null     object
 11  Winnin_team_payment(dollars)  6 non-null      object
dtypes: int64(3), object(9)
memory usage: 2.2+ KB

In [73]:
# Guardar la nueva base de datos en un nuevo archivo en S3
s3_key_path = "B1/B1.csv"
csv_buffer = StringIO()
B1_unido.to_csv(csv_buffer, index=False)
s3 = boto3.client('s3')
s3.put_object(
    Bucket=bucket_name, 
    Key=s3_key_path, 
    Body=csv_buffer.getvalue()
)

{'ResponseMetadata': {'RequestId': 'G1WBJHJ8FS782AB3',
  'HostId': 'AtANEv3byAl1SG2s7QT/Zd0jGV7L+xmjuDnhQSV1FaJ2vMVMPghuyX9yKoy/VG2NMGs3wGGfFJk=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'AtANEv3byAl1SG2s7QT/Zd0jGV7L+xmjuDnhQSV1FaJ2vMVMPghuyX9yKoy/VG2NMGs3wGGfFJk=',
   'x-amz-request-id': 'G1WBJHJ8FS782AB3',
   'date': 'Fri, 17 Oct 2025 17:37:18 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"246c2cd3b328d6991528da567c46fe38"',
   'x-amz-checksum-crc32': 'HhrxhA==',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'content-length': '0',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'ETag': '"246c2cd3b328d6991528da567c46fe38"',
 'ChecksumCRC32': 'HhrxhA==',
 'ChecksumType': 'FULL_OBJECT',
 'ServerSideEncryption': 'AES256'}

In [74]:
print("Proceso completado y archivo guardado.")

Proceso completado y archivo guardado.

In [75]:
B1_unido.head(30)

,Year,COUNTRY,Total_attendance_?,Matches,Average_attendance,HIGHEST_ATTENDANCE,STADIUM,Top_scorers,Goals_scored,Budget(Billion_US$),Total_Fund(dollars),Winnin_team_payment(dollars)
0,1930,Uruguay,"590,549",18,"32,808","93,000","Estadio Centenario, Montevideo",Argentina,18,None,None,None
1,1934,Italy,"363,000",17,"21,353","55,000","Stadio Nazionale PNF, Rome",Italy,12,None,None,None
2,1938,France,"375,700",18,"20,872","58,455","Olympique de Colombes, Paris",Hungary,15,None,None,None
3,1950,Brazil,"1,045,246",22,"47,511","173,850[90]","MaracanÆ Stadium, Rio de Janeiro",Brazil,22,None,None,None
4,1954,Switzerland,"768,607",26,"29,562","63,000","Wankdorf Stadium, Bern",Hungary,27,None,None,None
5,1958,Sweden,"819,810",35,"23,423","50,928","Ullevi Stadium, Gothenburg",France,23,None,None,None
6,1962,Chile,"893,172",32,"27,912","68,679","Estadio Nacional, Santiago",Brazil,14,None,None,None
7,1966,England,"1,563,135",32,"48,848","98,270","Wembley Stadium, London",Portugal,17,None,None,None
8,1970,Mexico,"1,603,975",32,"50,124","108,192","Estadio Azteca, Mexico City",Brazil,19,None,None,None
9,1974,West Germany,"1,865,753",38,"49,099","83,168","Olympiastadion, Munich",Poland,16,None,None,None
10,1978,Argentina,"1,545,791",38,"40,679","71,712","Estadio Monumental, Buenos Aires",Argentina,15,None,None,None
11,1982,Spain,"2,109,723",52,"40,572","95,500","Camp Nou, Barcelona",France,16,None,$20m,None
12,1986,Mexico,"2,394,031",52,"46,039","114,600","Estadio Azteca, Mexico City",Argentina,14,None,$26m,None
13,1990,Italy,"2,516,215",52,"48,389","74,765","San Siro, Milan",West Germany,15,4.0,$54m,None
14,1994,United States,"3,587,538",52,"68,991","94,194","Rose Bowl, Pasadena, California",Sweden,15,0.5,$71m,None
15,1998,France,"2,785,100",64,"43,517","80,000","Stade de France, Saint-Denis",France,15,2.33,$103m,None
16,2002,Japan,"2,705,197",64,"42,269","69,029","International Stadium, Yokohama, Japan",Brazil,18,7.0,$156.5m,"$100,000"
17,2006,Germany,"3,359,439",64,"52,491","72,000","Olympiastadion,ÿBerlin",Germany,14,4.9,$266m,"$300,000"
18,2010,South Africa,"3,178,856",64,"49,670","84,490","Soccer City, Johannesburg",Germany,16,7.2,$420m,"$500,000"
19,2014,Brazil,"3,429,873",64,"53,592","74,738","MaracanÆ Stadium, Rio de Janeiro",Germany,18,19.7,$576m,$1m
20,2018,Russia,"3,031,768",64,"47,371","78,011","Luzhniki Stadium, Moscow",Belgium,16,16.0,$791m,$1.5m
21,2022,Qatar,"3,404,252",64,"53,191","88,966","Lusail Stadium, Qatar",France,16,229.0,$1 Billion,$2.5 million
22,2022,Qatar,None,None,None,"67,372",Al Bayt Stadium,Qatar,None,None,None,None
23,2022,Qatar,None,None,None,"45,334",Khalifa International Stadium,England,None,None,None,None
24,2022,Qatar,None,None,None,"41,721",Al Thumama Stadium,Senegal,None,None,None,None
25,2022,Qatar,None,None,None,"43,418",Ahmed bin Ali Stadium,USA,None,None,None,None
26,2022,Qatar,None,None,None,"88,012",Lusail Iconic Stadium,Argentina,None,None,None,None
27,2022,Qatar,None,None,None,"42,925",Education City Stadium,Denmark,None,None,None,None
28,2022,Qatar,None,None,None,"39,369",Stadium 974,Mexico,None,None,None,None
29,2022,Qatar,None,None,None,"40,875",Al Janoub Stadium,France,None,None,None,None